@font-face {
	font-family: 'Montserrat UltraLight';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Montserrat-UltraLight.otf') format('otf');
}
		
.page1{
	position: fixed;
	
height: 100vh;
  width: 100%;
  
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
}
.modal_camera{
  position: absolute;
  z-index: 99;
  background: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100%;
}
.well_camera{
  background: white;
  margin-top: 25%;
  height: 52vh;
  padding-bottom: 20px;
  z-index: 99999;
}
.top{
	background: white;
	height: 50vh;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}
.bottom{
	background: #2976a9;
	height: 50vh;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}


.parent2 {
  bottom:50px;
  right:50px;
  position:fixed;
 display:block;
  width:50px;
  height:50px;
  background-color:transparent;
  border-radius:50%;
  z-index:9999;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.mask2 {
  bottom:50px;
  right:50px;
  width:50px;
  height:50px;
  background:#2976A9;
  border-radius:50%;
  position:absolute;
  z-index:9999;
  color:white;
  text-align:center;
  line-height:70px;
  cursor:pointer;
  position:fixed;
}
.image_mask{
  width: 50px;
  height: 50px;
  right: 0px;
  position:absolute;
}





@media only screen and (min-width : 320px) {
.text1{
    font-size: 50px;
    color: #404040;
    line-height: 70px;
    margin-top: 70px;
    font-family: 'Montserrat Light', arial;
  }
  .text2{
    font-size: 20px;
    color: #82a6be;
    font-family: 'Montserrat UltraLight', 'Montserrat Light', arial;
  }
  .text3{
  font-size: 18px;
  margin-bottom: 3%;
  color: white;
  font-family: 'Montserrat UltraLight', 'Montserrat Light', arial;

}
.intro{
	margin-top:-5%;
}
.intro_delta{
	margin-top:-35%;
}
.intro1{
	margin-top:150px;
}
.image_gif{
	width: 150px;
	margin-top: 10px;
}
.logo_logo{
   width: 150px;
   z-index: 9999999;
}
#user_camera{
  width: 150px;
}
.logo_contact{
 
  top:35px;
  right:50px;
  position:fixed;
 display:block;
 width: 30px;
  font-size: 30px;
  color: #2976A9;
  
  z-index:20;
}
.list_menu li{
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    font-family: 'Montserrat Light', arial;
    cursor: pointer;
}

#click_camera{
  position: absolute; /* <=== */
  width: 100%;        /* <=== */
  top:26%;
  right: -1%;
  color: white;
  font-size: 25px;
 
}
.circle{
  position: relative;  /* <=== */
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 30px;
  text-align: center;
  background: #2976A9;
}

.intro_nouveau{
  margin-top:-17%;
}
.intro_nouveau1{
  margin-top:100px;
}

.mouse_gif{
  position: absolute;
  top: 80%;
  left: 45%;
  width: 100x;
  height: 80px;
  margin-top: -250px;
}

}

@media only screen and (min-width : 768px) {
#click_camera{
  position: absolute; /* <=== */
  width: 100%;        /* <=== */
  top:26%;
  right: -1%;
  color: white;
  font-size: 35px;
 
}
.circle{
  position: relative;  /* <=== */
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  background: #2976A9;
}

.intro_nouveau{
  margin-top:-5%;
}
.intro_nouveau1{
  margin-top:130px;
}



.intro{
	margin-top:-3%;
}
.intro_delta{
	margin-top:-13%;
}
.intro1{
	margin-top:170px;
}
.text1{
    font-size: 80px;
    color: #404040;
    font-family: 'Montserrat Light', arial;
    line-height: 100px;
  }
  .text2{
  font-size: 30px;
  color: #82a6be;
  font-family: 'Montserrat UltraLight', 'Montserrat Light', arial;
  }
  .text3{
  font-size: 25px;
line-height: 0px;
  color: white;
  font-family: 'Montserrat UltraLight', 'Montserrat Light', arial;
}
.image_gif{
	width: 200px;
	margin-top: -13px;
}
#user_camera{
  width: 200px;
}
.logo_logo{
   width: 200px;
   z-index: 9999999;
}

.logo_contact{
 
  top:35px;
  right:50px;
  position:fixed;
 display:block;
 width: 40px;
  font-size: 30px;
  color: #2976A9;
  
  z-index:20;
}
.list_menu li{
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Montserrat Light', arial;
    cursor: pointer;
}
.mouse_gif{
  position: absolute;
  top: 80%;
  left: 49%;
  width: 100x;
  height: 80px;
  margin-top: -250px;
}
}