.page1{
	position: fixed;
	
height: 100vh;
  width: 100%;
  
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
}
.top{
	background: white;
	height: 50vh;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}
.bottom{
	background: #2976A9;
	height: 50vh;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}



.parent2 {
  bottom:50px;
  right:50px;
  position:fixed;
 display:block;
  width:60px;
  height:60px;
  background-color:transparent;
  border-radius:50%;
  z-index:9999;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.mask2 {
  bottom:50px;
  right:50px;
  width:60px;
  height:60px;
  background:#2976A9;
  border-radius:50%;
  position:absolute;
  z-index:9999;
  color:white;
  text-align:center;
  line-height:70px;
  cursor:pointer;
  position:fixed;
}
.test1 {
  width:70%;
  height:70%;
  background-color:white;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:45px;
    top:5%;
  left:0%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:70%;
  height:70%;
  background-color:white;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:45px;
    top:5%;
  left:0%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:70%;
  height:70%;
  background-color:white;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:45px;
    top:5%;
  left:0%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:70%;
  height:70%;
  background-color:white;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:45px;
    top:5%;
  left:0%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}
.test5 {
 width:70%;
  height:70%;
  background-color:white;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:45px;
    top:5%;
  left:0%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
}



@media only screen and (min-width : 320px) {
.text1{
    font-size: 30px;
    color: #404040;
    line-height: 50px;
    margin-top: 70px;
    font-family: 'Montserrat Light', arial;
  }
  .text2{
    font-size: 20px;
    color: #5384a6;
    font-family: 'Montserrat Light', arial;
  }
  .text3{
  font-size: 18px;
  margin-bottom: 3%;
  color: white;
  font-family: 'Montserrat Light', arial;

}
.intro{
	margin-top:-5%;
}
.intro_delta{
	margin-top:-35%;
}
.intro1{
	margin-top:150px;
}
.image_gif{
	width: 150px;
	margin-top: 10px;
}
.logo_logo{
   width: 150px;
   z-index: 9999999;
}

.logo_contact{
 
  top:35px;
  right:50px;
  position:fixed;
 display:block;
 width: 30px;
  font-size: 30px;
  color: #2976A9;
  
  z-index:20;
}

}

@media only screen and (min-width : 1200px) {

.intro{
	margin-top:5%;
}
.intro_delta{
	margin-top:-13%;
}
.intro1{
	margin-top:170px;
}
.text1{
    font-size: 80px;
    color: #404040;
    font-family: 'Montserrat Light', arial;
    line-height: 100px;
  }
  .text2{
  font-size: 30px;
  color: #5384a6;
  font-family: 'Montserrat Light', arial;
  }
  .text3{
  font-size: 25px;
line-height: 0px;
  color: white;
  font-family: 'Montserrat Light', arial;
}
.image_gif{
	width: 200px;
	margin-top: -13px;
}
.logo_logo{
   width: 200px;
   z-index: 9999999;
}

.logo_contact{
 
  top:30px;
  right:50px;
  position:fixed;
 display:block;
 width: 40px;
  font-size: 30px;
  color: #2976A9;
  
  z-index:20;
}

}