@font-face {
font-family: 'quadranta';
src: url('quadranta.eot?') format('eot'),
     url('../fonts/Montserrat-Light.otf') format('truetype'),
     url('quadranta.woff') format('woff'),
     url('quadranta.svg#QuadrantaBold') format('svg');
font-weight: normal;
font-style: normal;
}  
body{
	margin: 0;
	padding: 0;
}
.contenu{
	position: fixed;
	

	width: 100%;
	height: 100vh;
}
.top{
	background: white;
	height: 75vh;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}
.bottom{
	background: #2976A9;
	height: 25vh;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}





#name, #username{
  cursor: pointer;
}




@media only screen and (min-width : 320px) {
  .list_menu li{
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    font-family: 'Montserrat Light', arial;
    cursor: pointer;
}
  .text1{
    font-size: 30px;
    color: #404040;
    margin-top: 70px;
    font-family: 'Montserrat Light', arial;
  }
  .text2{
    font-size: 20px;
    color: #5384a6;
    font-family: 'Montserrat Light', arial;
  }
  .text3{
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 3%;
  color: white;
  font-family: 'Montserrat Light', arial;

}
.image_send{
   width: 80px;
  color: #2976AA;
}
.btn-send{
  padding-left: 10px;
  padding-right: 10px;

}
.btn-send:hover, :focus{
  background: white;
}

.textarea_form{
  height: 100px;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border:1px solid silver;
  padding-left: 3px;
  font-family: 'Montserrat Light', arial;
  resize:none;
  border-radius: 3px;

}
.input_form{
  width: 100%;
  height: 20px;
  padding-left: 3px;
  margin-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border:1px solid silver;
}
.logo_contact{
 
  top:35px;
  right:50px;
  position:fixed;
 display:block;
 width: 30px;
  font-size: 30px;
  color: #2976A9;

}
.logo_logo{
   width: 130px;
}
.parent2 {
  bottom:20px;
  right:30px;
  position:fixed;
 display:block;
  width:50px;
  height:50px;
  background-color:transparent;
  border-radius:50%;
  z-index:9999;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.mask2 {
  bottom:20px;
  right:30px;
  width:50px;
  height:50px;
  background:#2976A9;
  border-radius:50%;
  position:absolute;
  z-index:9999;
  color:white;
  text-align:center;
  line-height:70px;
  cursor:pointer;
  position:fixed;
}
.image_mask{
  width: 50px;
  height: 50px;
  right: 0px;
  position:absolute;
}
}

@media only screen and (min-width : 768px) {
  .list_menu li{
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Montserrat Light', arial;
    cursor: pointer;
}
  .text1{
    font-size: 80px;
    color: #404040;
    font-family: 'Montserrat Light', arial;
  }
  .text4{
    font-size: 50px;
    color: #404040;
    font-family: 'Montserrat Light', arial;
  }
  .text2{
  font-size: 30px;
  color: #5384a6;
  font-family: 'Montserrat Light', arial;
  }
  .text3{
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 3%;
  color: white;
  font-family: 'Montserrat Light', arial;
}

.image_send{
  
  width: 130px;
  color: #2976AA;
}
.btn-send{
  padding-left:30px;
  padding-right: 30px;

}
.btn-send:hover, :focus{
  background: white;
}


.textarea_form{
  height: 150px;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border:1px solid silver;
  padding-left: 3px;
  font-family: 'Montserrat Light', arial;
  resize:none;
  border-radius: 3px;

}
.input_form{
  width: 100%;
  height: 20px;
  padding-left: 3px;
  margin-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border:1px solid silver;
}
.logo_contact{
 
  top:35px;
  right:50px;
  position:fixed;
 display:block;
 width: 40px;
  font-size: 30px;
  color: #2976A9;
  
  z-index:1;
}
.logo_logo{
   width: 200px;
   z-index: 9999999;
}



.parent2 {
  bottom:50px;
  right:50px;
  position:fixed;
 display:block;
  width:50px;
  height:50px;
  background-color:transparent;
  border-radius:50%;
  z-index:9999;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.mask2 {
  bottom:50px;
  right:50px;
  width:50px;
  height:50px;
  background:#2976A9;
  border-radius:50%;
  position:absolute;
  z-index:9999;
  color:white;
  text-align:center;
  line-height:70px;
  cursor:pointer;
  position:fixed;
}
.image_mask{
  width: 50px;
  height: 50px;
  right: 0px;
  position:absolute;
}
}
